<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1009981853661-ofeo6kiikt1ba8plpa3j8c3eejo2h37b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1009981853661-ofeo6kiikt1ba8plpa3j8c3eejo2h37b</string>
	<key>API_KEY</key>
	<string>AIzaSyDwjuRfOYYLALTlXD_Sr--oHfmv4V8lOoU</string>
	<key>GCM_SENDER_ID</key>
	<string>1009981853661</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.toyguncil.dataCase</string>
	<key>PROJECT_ID</key>
	<string>testmycase-c900f</string>
	<key>STORAGE_BUCKET</key>
	<string>testmycase-c900f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009981853661:ios:693dd25abf6bc00a5e3034</string>
	<key>DATABASE_URL</key>
	<string>https://testmycase-c900f-default-rtdb.firebaseio.com</string>
</dict>
</plist>